@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111827; /* bg-gray-900 matching App background */
}

#root {
  width: 100%;
  height: 100%;
}
